{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Good Shepherd Food Pantry</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" rel="stylesheet" type="text/css">

    <link href="{% static 'assets/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?fabamily=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div  class="">
        <img style="margin-left:5px;" width=150" height="50" src="{% static 'img/Logo.jpg' %}" alt="logo" title="logo" border="0">
    </div>
    <!--button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button-->
    <div>
        <a class="navbar-brand" href="{% url 'fps:client' %}">Good Shepherd Food Pantry</a>
    </div>

    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div style="color:red;align:right">
            COVID-19<br/>
            We request all clients to  wear mask  once inside the building and follow 6 feet distance.
        </div>
    </div>
            {% if user.is_authenticated and user.is_superuser %}

                 <button class="btn btn-success ml-auto mr-1" disabled>Admin view</button>
            {% elif user.is_authenticated and user.groups.all.0.name == "volunteer" %}
              <button class="btn btn-success ml-auto mr-1" disabled>Voulnteer View</button>
            {% endif %}
     <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">


            <ul class="navbar-nav ml-auto ml-md-0">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="fas fa-user fa-fw"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'fps:account_profile' %}">
                          <div class="sb-nav-link-icon"> Account Profile</div>
                    </a>
                       <a class="dropdown-item" href="{% url 'password_change' %}">
                          <div class="sb-nav-link-icon"> Change Password</div>
                    </a>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                          <div class="sb-nav-link-icon"><i class="fas fa-fw fa-power-off"></i> Logout</div>
                    </a>
                  </div>
               </li>
            </ul>
         </div>
</nav>
<div id="layoutSidenav">

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                {% if user.is_authenticated and user.is_superuser %}
                {% include 'fps/navbar.html' %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <!-- Footer -->
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Food Pantry Service 2020</div>
                    <div>
                        <a style="color:black;" href="#">Privacy Policy</a>
                        &middot;
                        <a style="color:black;"  href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
        <script src="{% static 'assets/jquery/jquery.min.js' %}" crossorigin="anonymous"></script>
      <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
      <script src="{% static 'js/scripts.js' %}"></script>
</html>
