<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div id="navbarNav">

            <ul class="navbar-nav navbar-center menu">
                <li class="item-101 {{ client }}"><a href="{% url 'fps:client' %}">Client</a>
                </li>
                <li class="item-102 {{ volunteer }}"><a href="{% url 'fps:volunteer' %}">Volunteer</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>